.public_top{width:100%;height:30px;line-height:30px;background:#efefef;border-bottom:#dcdddd;}

.public_top .top_content{width:1200px;margin:0 auto;}

.public_top .top_content .tc_left{width:300px;float:left;font-size: 12px;}

.public_top .top_content .tc_right{width:600px;float:right;}

ul.tcright{padding:0;float: right;}

ul.tcright li{float:left;padding:0 5px;}

ul.tcright li a{color: #797979;line-height: 30px;font-size: 12px;}

ul.tcright li a:hover{color: #e40115}

ul.tcright span{float:left;color: #dedede;}



.public_head{width:1200px;height:125px;margin:0 auto;}

.public_head .logo{width:251px;height:43px;float:left;margin-top:40px;}

.public_head .menu{margin-top:50px;float:right;position: relative;z-index: 999;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.public_nav{ padding:0; height:34px; position:relative; z-index:1;  }

.public_nav a{ color:#333;text-decoration:none; line-height:34px;}

.public_nav .nLi{ float:left;  position:relative; display:inline;  }

.public_nav .nLi h3{ float:left;  }

.public_nav .nLi h3 a{ display:block;text-align: center;width: 92px;font-size:14px; font-weight:bold; transition:0s; }

.public_nav .nLi h3 a:hover{color: #fff !important}

.public_nav .sub{ display:none; width:92px; left:0; top:34px;  position:absolute; background:#0062a6;  line-height:26px; padding:5px 0;text-align:center;}

.public_nav .sub li{ zoom:1;float: inherit; }

.public_nav .sub a{ display:block; padding:0 10px;color:#fff;transition:0s;font-size: 12px;}

.public_nav .sub a:hover{ background:#ff6600; color:#fff !important;  }

.public_nav .on h3 a{ background:#0062a6; color:#fff;   }


.public_footer{width:100%;margin:0 auto;background:#333;padding-bottom: 20px;font-size: 12px;}

.public_footer .foot_left{width:720px;float:left;list-style:none;color: #999;}

.public_footer .foot_left a{color:#999;}

.public_footer .foot_title{padding:15px 0;}

.public_footer ul.foot_t li{line-height: 24px;float: inherit;}

.public_footer .foot_copyright{float: left;line-height:24px;}

.public_footer ul.foot_menu{width:100%;overflow: hidden;padding: 0;margin: 0;}

.public_footer ul.foot_menu li{padding-right: 15px;margin-right: 15px;background: url(../images/foot_line.jpg) center right no-repeat;float:left;}

.public_footer ul.foot_menu li:last-child{background: none;}

.public_footer ul.foot_menu li a{padding-right: 15px;display:block; text-align:center; color:#999; padding:0;font-size: 12px;}

.public_footer ul.foot_menu li a:hover{ color:#dcdddd !important;}

.public_footer .foot_erweima{width:110px;float:right;text-align:center;color: #999}

.bk3{height: 3px;}

.w1200{width: 1200px;margin: 0 auto;overflow: hidden;}

.pt30{padding-top: 30px;}

.f13{font-size: 13px;}

li{list-style: none;}

*{font-size: 12px;}

.foot_t{padding: 0;margin: 0;}

img{background: transparent;}
