@charset "utf-8";
/********************************
 * 响应式样式重写
 *******************************/
@media only screen and (min-width: 1620px){
.col-max{ width:20%;}
.focus .ibox{ position:relative; height:667px;}
.focus .ibox .el{ position:absolute;}
.focus .i1 .e1{ left:4%; top:25%;}
.focus .i1 .e2{ left:0; top:0; width:100%;height:100%; text-align:center;}
.focus .i1 .e2 img{ max-height: 100%; max-width: 100%; margin-top: 12%;}
.focus .i1 .e3{ left:0; bottom:18%; width:100%; line-height:1; text-align:center; color:#fff;  font-size:36px;}
.focus .i1 .e3 span{ color:#0084e9;}
.focus .i2 .el{  line-height:1; color:#0084e9;}
.focus .i2 .e1{ right:0; top:25%; font-size:46px;}
.focus .i2 .e2{ right:0; top:40%; line-height:1.4; font-size:36px;}
.focus .i2 .e3{ right:30px; top:60%; line-height:1; border-radius:6px; padding:15px 30px; background:#0084e9; color:#fff; font-size:22px;}
.focus .i3 .el{  line-height:1; color:#0084e9;}
.focus .i3 .e1{ left:30px; top:25%; font-size:46px;}
.focus .i3 .e2{ left:30px; top:40%; line-height:1.4; font-size:24px;}
.focus .i3 .e3{ left:30px; top:60%; line-height:1; border-radius:6px; padding:15px 30px; background:#0084e9; color:#fff; font-size:22px;}
}


@media only screen and (max-width: 1440px){
	.navBox .nav .box > div.pl5{padding-left: 7%}
	.navBox .nav .box > div.pl10{padding-left: 15%}
	.navBox .nav .box > div.pl15{padding-left: 20%}
	.navBox .nav .box > div.pl20{padding-left: 25%}
	.navBox .nav .box > div.pl25{padding-left: 35%}
}

@media only screen and (max-width: 1225px){
	.navBox .nav .box > div.pl20{padding-left: 32%}
	.navBox .nav .box > div.pl25{padding-left: 36%}
}

@media only screen and (max-width: 1024px){
	.navBox .nav .box > div.pl10{padding-left: 20%}
	.navBox .nav .box > div.pl25{padding-left: 45%}
	#toTop {right: 2px;}
}

@media only screen and (min-width: 1200px){
.container{ width:1170px;}
.modCon .modList dd .modHoveCon a{width:120px;}
}


@media only screen and (max-width: 580px){
	.news_Item > div{float: none;width: 100%}
	.news_Item > div:first-child{padding-bottom: 15px;}
}


@media only screen and (max-width: 1023px){
.container{ width:94%;}
/*========================== index =====================================*/
.toplinkBox{display:none;}
.navBox .nav{width: 83%}
.navBox .navRight{width: 17%;}
.navRight .text_create{display:none;}
/*.caseCon .owl-buttons{display:none;}*/
.caseCon .itemList{margin:40px 20px 0 20px;}
	

/*========================== 内页 =====================================*/
.header .logo-tip{display:none;}
.header .menu{left:140px;}
.sideTools{display:none;}
.focus .ibox{ position:relative; max-height:667px;min-height:230px}
.focus .i1 .e1{ left:4%; top:30px;}
.focus .i1 .e1 img{ width:160px;}
.focus .i1 .e2{ left:0; top:0; width:100%;height:100%; text-align:center;}
.focus .i1 .e2 img{ max-height:60%; max-width:80%; margin-top:30px;}
.focus .i1 .e3{ left:0; bottom:40px; width:100%; line-height:1; text-align:center; color:#fff; font-size:32px;}
.focus .i2 .el{ line-height:1; color:#0084e9;}
.focus .i2 .e1{ right:0; top:40px; font-size:24px;}
.focus .i2 .e2{ right:0; top:100px; line-height:1.4; font-size:24px;}
.focus .i2 .e3{ right:30px; top:200px; line-height:1; border-radius:6px; padding:15px 30px; background:#0084e9; color:#fff; font-size:20px;}
.focus .i3 .el{ line-height:1; color:#0084e9;}
.focus .i3 .e1{ left:30px; top:40px; font-size:36px;}
.focus .i3 .e2{ left:30px; top:145px; line-height:1.4; font-size:20px;}
.focus .i3 .e3{ left:30px; top:180px; line-height:1; border-radius:6px; padding:15px 30px; background:#0084e9; color:#fff; font-size:20px;}

.footer .copy{text-align:center;}
.footer .botNav{text-align:center; margin-top:5px;}
.case_Section{ margin-right:30px;}

.createWait{ width:600px; height:366px; margin-left:-300px; margin-top:-183px;}
.createWait ul li{ width:600px; height:366px;}
}

@media only screen and (min-width: 480px) and (max-width:1200px){
	.news_Box .news_List p.info{overflow:hidden;display:-webkit-box; -webkit-line-clamp:2;-webkit-box-orient:vertical;}
}

@media only screen and (max-width: 767px){
/*========================== index =====================================*/
.mobileMenuBox,.mobileMenuBtn{display:block;}
.indexLink,.navRight{display:none;}
/*.owl-controls .owl-buttons{display:none;}*/
.header{ display:none;}
.navBox{ display:none;}
.m-topbar{ display:block;}
.logoBox{ display:none;}
.Layout,.content_Case{ padding-top:42px;}

/* service */
.serviceBox{padding:40px 0 40px 0;}
.introBox .titleBox{font-size:18px;margin-top:0px;}
.introBox .titleBox span{font-size:20px;}
.introBox .infoBox{font-size:14px;}
.serviceCon .itemBox .textTitle{font-size:16px;}
.serviceCon .itemBox .textTitle span{font-size:18px;}
.introBox .infoBox .erwei{display:none;}
/* case */
.caseBox{padding:40px 0 40px 0;}
.caseBox .caseTitle{font-size:16px;}
.caseBox .caseTitle .text_blue{font-size:18px;}
/* project */
.projectBox{padding:40px 0 40px 0;}
.projectCon .projectList{margin-top:25px;padding:0 20px;}
/* mod */
.modBox{padding:40px 0 40px 0;}
/* news */
.newsBox .newsList{padding-bottom:10px;border-bottom:1px solid #dedede;}
.newsBox .newsList dt{ height:auto;}
.newsBox .newsList dd{ height:auto;}
/* contact */
.contactBox{padding:40px 0 40px 0;}
.contactCon .title{font-size:18px;}
.contactCon .title span{font-size:18px;}
.contactCon .contactList h4{font-size:14px;}
.contactCon .contactList p{font-size:12px;}
/* feedback */
.feedbackBox{padding:40px 0 40px 0;}
.feedbackBox .qqBox{display:none;}
.feedbackCon{padding:0 0 0px 0;}
.feedbackCon .feedbackItem{margin: 0}
.feedbackCon .feedbackItem:last-child{margin-top: 10px;}
.feedbackCon .feedContact{display:none;}
.feedbackCon .feedCon{padding-top:10px;padding-left:0px;}
.feedbackCon .feedCon textarea{height:100px;}
.feedbackCon .feedBtn{padding-top:15px;}
.feedbackCon .feedBtn a{height:50px;line-height:50px;width:50px;font-size:14px;}

.focus .i1 .e1{ display:none;}

.case_detail{ margin-left:10px; margin-right:10px;}
/*========================== 内页 =====================================*/
.locationBox{ display:none;}
.header .menu{display:none;}
.con_Left{float:none;width:100%;margin-bottom:20px;}
.mod_NavL{padding-bottom:0px; background:#f0f0f0;}
.mod_NavL .title{font-size:16px;padding:10px; cursor:pointer;}
.mod_NavL .title i{display:block;}
.mod_NavL ul{display:none;}
.mod_NavL ul li{margin-bottom:5px;}
.mod_NavL ul li a i{display:none;}
.con_Right{float:none;width:100%;}

/* about */
.sub_Nav h2{display:none;}
.sideLeft{display:none;}
.intro_Con{margin-left:0;padding-top:20px;}
.intro_Con .origin h2,.intro_Con .birth h2,.intro_Con .function h2,.intro_Con .featuresBox h2,.intro_Con .creative h2,.intro_Con .crm h2,.intro_Con .price h2,.intro_Con .sales h2{font-size:26px;margin-top:30px;}
.intro_Con .crm .crmBox2 .item i,.intro_Con .sales .item i{display:none;}
.responsive_Item{padding:30px 0;}
.responsive_Item .titleBox{font-size:26px;}
.responsive_Item .infoBox{font-size:14px;}
.responsive_Box .four .btnBox a{font-size:18px;}
.responsive_Item .detaBox{font-size:16px;padding:15px 10px;}
.intro_Con .info_Item .info_ItemBtn a{height:50px;line-height:50px;font-size:16px;padding:0 20px;}
/* mod */
.modIntroBox .searchRight{float:none;margin-top:20px;}
.searchBox input[type="text"]{width:90%;}
/* join */
.feedback-page .fb-form{padding:0;}
.feedback-page .fb-form .frmInput input[type="text"]{width:100%;}
.feedback-page .fb-form .frmInput textarea{width:100%;}
/* case */
.case_Left,.case_Right .switch_Btn{display:none;}
.case_Section{margin-left:0px;margin-right:0px;}
.deta_Case .deta_Con{width:90%;}
.case_Right .btn_Top a{padding:0 6px;}
/* create */
.create_Box .fieldset .frmInput{width:70%;}
.create_Box .fieldset .frmInput .frmTip{ position:absolute; left:0; top:100%; opacity:0; height:24px; line-height:24px; text-indent:5px; color:#45beee; width:100%; z-index:2;}

/* help */
.help_Banner img{height:250px;max-width:auto;}

.account_Box{padding:0;}
.account_Box .adv_Img{display:none;}
.account_Module {padding:20px 30px 20px 30px;}
.fot_Nav{display:none;}


.createWait{ width:400px; height:244px; margin-left:-200px; margin-top:-122px;}
.createWait ul li{ width:400px; height:244px;}

.countBox .tongji ul .item{ width:52px; font-size:44px; height:73px;}
.countBox .tongji .unit{ font-size:28px;}
.scrollNum{ height:57px; margin:3px;}
.scrollNum ol li{ height:57px;}
.mobileTools{ display:block;}


.advocate_Two .title_1{text-align:center;}
.advocate_Two .title_2{text-align:center;}
.advocate_Two .title_3{text-align:center;}
}



@media only screen and (max-width: 479px){
/*========================== index =====================================*/
.in_header .logoBox{padding:15px 0;}

/*========================== 内页 =====================================*/
.con_Box{padding:5px 0 20px 0;}

/* about */
.responsive_Item .titleBox{font-size:18px;}
.responsive_Box .four .btnBox a{font-size:16px;background-image:none;padding:0 18px;height:60px;line-height:60px;}
.sub_Nav .sub_Buy{display:none;}

/* mod */
.modIntroBox{padding:20px 0;}
/* news */
.news_Box .news_List{padding-left:0;margin-top:20px;}

/* help */
.help_Banner .help_Title{right:3%;top:20%;font-size:20px;}
.help_Search{right:3%;top:40%;}
.help_Search .searchInfo{font-size:14px;}

/* create */
.create_Box .fieldset .frmLabel{background-color:#f5f5f5;width:100%;text-align:left;text-indent:10px;margin-bottom:10px;}
.create_Box .fieldset .frmInput{width:100%;}
.create_Box .submit{margin-left:0;width:100%;padding:0;}

.account_Con{margin:0;}
.account_Con .cooperation a{width:100%;}

.countBox .tongji ul .item{ width:34px; font-size:28px; height:48px;}
.countBox .tongji .unit{ font-size:18px;}
.scrollNum{ height:37px; margin:2px;}
.scrollNum ol li{ height:37px;}

.createWait{ width:300px; height:183px; margin-left:-150px; margin-top:-91px;}
.createWait ul li{ width:300px; height:183px;}
.createWait .ctext .text{ display:none;}

.createWebsite{ font-size:16px;}
.createWebsite i{ width:28px; height:28px; line-height:28px; font-size:20px;}

.countBox .cbutton:after{display:none;}

.Layout_header .logo{display:none;}

.focus .ibox{ position:relative; max-height:667px;min-height:230px;}
.focus .i1 .e1{ left:4%; top:30px; display:none;}
.focus .i1 .e1 img{ width:160px;}
.focus .i1 .e2{ left:0; top:0; width:100%;height:100%; text-align:center;}
.focus .i1 .e2 img{ max-height:60%; max-width:80%; margin-top:20px;}
.focus .i1 .e3{ left:0; bottom:30px; width:100%; line-height:1; text-align:center; color:#fff; font-size:20px;}
.focus .i2 .el{ line-height:1; color:#0084e9;}
.focus .i2 .e1{ right:0; top:20px; font-size:20px;}
.focus .i2 .e2{ right:0; top:60px; line-height:1.4; font-size:18px;}
.focus .i2 .e3{ right:30px; top:130px; line-height:1; border-radius:6px; padding:10px 20px; background:#0084e9; color:#fff; font-size:18px;}
.focus .i3 .el{ line-height:1; color:#0084e9;}
.focus .i3 .e1{ left:30px; top:20px; font-size:26px;}
.focus .i3 .e2{ left:30px; top:60px; line-height:1.4; font-size:18px;}
.focus .i3 .e3{ left:30px; top:120px; line-height:1; border-radius:6px; padding:10px 20px; background:#0084e9; color:#fff; font-size:18px;}
}

@media only screen and (max-height:700px){
  .case_Left .er_Box{ display:none;}
}