*{
	box-sizing: border-box;
}
body{
	font-family: "microsoft yahei";
	font-size:14px;
	font-weight:500;
	min-width: 1200px;
	color:#c5c5c5;
	background:url(bj.png);
}
h1,h2,h3,h4,h5,h6{
	font-weight:700;
}
button,input{
	border: none;
	color: inherit;
}
a{
	text-decoration: none;
	outline: none;
	color:#333;
}
img {
	vertical-align: middle;
	border:none;
}
ul,ol{
	list-style: none;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,button,input,dt,dd,dl,img{
	margin: 0;
	padding: 0;
}
a:active,.a:hover{
	outline: none;
}
img {
	vertical-align: middle
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.icon{display:inline-block;vertical-align:middle;}
.icon_lb{width:18px;height:18px;background:url(icon_lb.png);}
.icon_x{width:13px;height:12px;background:url(ico_x.png) no-repeat;}
.icon_hg{width:19px;height:16px;background:url(icon_hg.png);}
.icon_x2{background-position-x:-16px;}
.header{height:108px;background:url(her_b.png);width:100%;position:relative;}
.header_l{margin-left:-10px;margin-top:20px;}
.header_r{float:right;margin-top:50px;}
.nav{background:#232731;height:50px;}
.nav_p a{transition:all 0.2s ease;color:#fff;border-bottom:2px transparent solid;line-height:48px;height:50px;float:left;margin-left:15px;margin-right:75px;}
.nav_p a.no{color:#ffea00;font-weight:bold;border-color:#ffea00;}
.nav_p a:hover{color:#ffea00;border-color:#ffea00;transition:all 0.2s ease;}
.nav_p a.nom{margin-right:0;}
.l_mian_ul{margin-top:10px;}
.l_mian_ul li{margin-bottom:10px;position:relative;}
.direle{width:1065px;}
.l_mian_li{height:45px;background:#fff;border:1px solid #dbdbdb;}
.lb_isx{color:#eb4f38;font-weight:bold;}
.lb_isx{width:130px;text-align:center;float:left;line-height:43px;height:43px;}
.lb_isx2{float:left;color:#525252;margin-left:25px;line-height:43px;height:43px;}
.cle_dt{height:246px;border:1px solid #dbdbdb;background:#fff;margin-bottom:10px;}
.cle_dt1{float:left;height:198px;width:230px;border-right:1px solid #ede6db;border-bottom:1px solid #ede6db;background:#f8f5f0;text-align:center;}
.cle_dt1 img{padding:30px 0 20px;}
.cle_dt1d a{color:#ff7200;border-bottom:1px solid #ff7200;}
.cle_dt2{float:left;width: 968px;}
.cle_dt2_1{border-bottom:1px solid #ede6db;height:50px;}
.dl_td a{color:#0066ff;line-height:48px;}
.dl_dl a{color:#ff7200;line-height:48px;}
.cle_dt2_1 a{margin:0 20px;}
.pt_tl{display:block;width:100%;font-size:14px;color:#333333;margin-top:15px;}
.cle_dt2_2{float:left;padding-left:20px;height:148px;border-bottom:1px solid #ede6db;}
.cle_dt2_yl{font-size:14px;color:#525252;width:540px;float:left;border-right:1px solid #ede6db;}
.cle_dt2_yl1{margin-top:12px;height:30px;line-height:1.5;}
.cle_dt2_yl2{margin-top:10px;}
.cle_dt2_yl3{margin-top:5px;color:#ff7200;}
.cle_dt2_yk{float:left;width: 408px;}
.cle_sn{color:#757575;margin-right:5px;}
.cle_sn2{color: #202020;}
.cle_sn3{color:#ff0000;}
.cle_dt2_yk li{margin-bottom:6px;margin-left:33px;}
.cle_dt2_3d{width:100%;float:left;display:block;}
.cle_dt23ul{float:left;width:100%;}
.cle_dt23ul li{float:left;padding:0 28px;height:46px;line-height:46px;text-align:center;color:#525252;}
.i_xus{margin-left:5px;position:relative;top:-1px;}
.i_xus i{margin-right:2px;}

.footer_sm{height:165px;background:#f8f5f0;color:#6c787f;border-top:1px solid #d8d8d8;}
.focolor{color:#e46713;}
.footep_ss{line-height:1.6;padding:38px 10px;}
.footer_xl{height:50px;background:#232731;border-bottom:1px solid #343740;}
.footer_xlp{color:#cdcdcd;font-size:12px;line-height:50px;float:left;}
.footer_xls{color:#cdcdcd;font-size:12px;line-height:50px;float:right;}

.xy_fixed{position:fixed;right:25px;top:210px;width:154px;border-radius:10px;}
.xy_ulu{border-radius:5px;}
.xy_uli{position:relative;width:154px;background:url(f_5.png);height:37px;line-height:16px;line-height:37px;color:#fff;padding-left:20px;}

.xy_uli1{line-height:45px;height:45px;background:#fff;padding-left:20px;border-bottom:1px dashed   #e3e3e3;}
.xy_uli1 img{margin-right:8px;}
.xy_ulu li:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px;border:none;}
#x_gb{float:right;position:absolute;right:15px;top:14px;cursor:pointer;}
